.slds-card__custom {
    width: 200px;
    height: 200px;
}

.card-title__custom {
    font-size: 22.5px;
    font-weight: bold;
}

.card-count__custom {
    color: #19323C;
    font-size: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .slds-card__custom {
        margin: 7.5px;
        width: 200px;
        height: 200px;
    }

}

@media only screen and (max-width: 360px) {
    .slds-card__custom {
        width: 140px;
        height: 140px;
    }

    .card-title__custom {
        font-size: 15px;
    }

    .card-subtitle__custom {
        font-size: 7.5px;
    }

    .card-count__custom {
        font-size: 30px;
    }
}
