.card__custom {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.8);
    -moz-box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.8);
    box-shadow: 0px 0px 3px 0px rgba(171, 171, 171, 0.8);
    border-radius: 2.5px;
    padding: 10px;
}

.card-body__custom {
    display: flex;
    justify-content: space-between;
}

.card-col__custom {
    width: 200px;
    display: flex;
    justify-content: center;
}