.card__custom {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.8);
    -moz-box-shadow: 0px 0px 3px 0px rgba(171,171,171,0.8);
    box-shadow: 0px 0px 3px 0px rgba(171, 171, 171, 0.8);
    border-radius: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 5px solid white;
}

.card__custom:hover {
    border-left: 5px solid #0D9DDA;
    -webkit-box-shadow: 0px 0px 3px 0px #0D9DDA;
    -moz-box-shadow: 0px 0px 3px 0px #0D9DDA;
    box-shadow: 0px 0px 3px 0px #0D9DDA;
}