.card-header__custom {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 30px;
}

.card-title__custom-text {
    margin-left: 10px;
    font-size: 20px;
}